@import "../imports";

.header {
    &_main {
        &__hero {
            @include font($color: $fireBright, $weight: 800, $align: left);
            width: calc(100vw - 60%);
            margin-left: 10vw;
            margin-top: 5vh;

            h1 {
                margin-bottom: 0;
                line-height: 64px;
            }

            .buttons > .link_button:not(:first-child) {
                padding-left: 1rem;
            }
        }
    }
}