@import "../imports";

.header {
    &_main {
        &__hero {
            @include font($color: $fireBright, $weight: 800, $align: left);
            width: calc(100vw - 60%);
            margin-left: 7%;
            margin-top: 17%;

            h1 {
                text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
                margin-bottom: 0;
                line-height: 64px;
            }

            .buttons > .link_button:not(:first-child) {
                padding-left: 1rem;
            }
        }
    }

    &_about {
        &__hero {
            @include font($color: $moonSilver, $weight: 800, $align: left);
            width: calc(100vw - 60%);
            margin-left: 10vw;
            margin-top: -6vh;

            h1 {
                font-size: 100px;
                margin-bottom: 0;
                margin-left: -1rem;
                line-height: 82px;
            }
        }
    }
}