@import "../imports";

.header {
    &_main {
        &__hero {
            @include font($color: $fireBright, $weight: 800, $align: left);
            width: calc(100vw - 60%);
            margin-left: 10%;
            margin-top: 20%;

            h1 {
                text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
                margin-bottom: 0;
                line-height: 64px;
            }

            .buttons {
                margin-left: -0.5rem;

                > .link_button {
                    &:first-child a:before {
                        width: 91px;
                    }
                    
                    &:not(:first-child) {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }

    &_about {
        &__hero {
            @include font($color: $fireBright, $weight: 800, $align: left);
            width: calc(100vw - 60%);
            margin-left: 10%;
            margin-top: 13%;

            h1 {
                text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
                margin-bottom: 0;
                line-height: 64px;
            }
        }
    }

    &_work {
        &__hero {
            @include font($color: $moonSilver, $weight: 800, $align: left);
            margin-bottom: 1rem;
            margin-left: 250px;
            margin-top: -5rem;

            h1 {
                text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
                font-size: 100px;
                margin-bottom: 0;
                line-height: 82px;
            }
        }
    }
}
