@import "../imports";

.link_button {
  @include flex($direction: row);
  @include border-outline($noBorder: true, $noOutline: true);
  background-color: transparent;

  a {
    @include flex($direction: center);
    @include font(
      $color: $moonSilver,
      $size: 24px,
      $weight: 300,
      $decoration: none
    );

    &:before {
      @include width-height($width: 105px, $height: 2px);
      @include transition($time-in: 0.25s);
      position: absolute;
      opacity: 0;
      margin-top: 2.8rem;
      margin-left: 5px;
      content: "";
      background-color: $peru;
    }

    &:hover {
      @include hoverBrighten();

      i {
        @include transition;
        @include transform(scale(1.2));
      }

      &:before {
        @include transition;
        opacity: 1;
      }
    }
  }

  i {
    @include font($color: $moonSilver);
    @include transition;
    @include transform(scale(1));
    padding: 0 0.5rem;
  }

  &.card_button {
    align-items: center;

    a {
      @include font($size: 16px, $color: $moonSilver, $weight: 400, $align: left);
    }

    i.fa-github {
      font-size: 21px;
    }
    i.fa-external-link {
      font-size: 20px;
    }

    &.github a:hover::before {
      width: 80px;
    }
    &.link a:hover::before {
      width: 130px;
    }
  }
}
