@import "../imports";

nav {
    position: absolute;
    top: 1rem;
    right: 0;

    .navigation {
        @include flex(row);
        position: fixed;
        left: 0;
        margin-left: 2vw;
    
        .nav_button {
            @include width-height(28px, 28px);
            @include transition;
            @include transform(scale(1));
            @include box-shadow;
            border: 1px solid $offBlack;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            margin: 0 4px;

            &:hover {
                @include transform(scale(1.2));
                @include box-shadow($color: $moonSilver);
                margin: 0 6px;
            }

            a {
                @include width-height($height: 85%);
                > i {
                    @include font($color: $offBlack, $size: 15px);
                }
            } 
    
            &.home {
                background-color: $peru;
            }
            &.about {
                background-color: $maroon;
    
            }
            &.portfolio {
                background-color: $lightGreen;
    
            }
            &.contact {
                background-color: $darkOliveGreen;
            }
        }
    }
}