@import "../imports";

.wrapper.background {
    @include flex($direction: column);
    @include width-height($width: 100%, $height: 100%);
    justify-content: center;
    position: fixed;
    background-color: #010b12;

    &.background_1 {
        background-image: url("../../assets/treeline.svg");
        background-size: cover;
    }
}