@import "../imports";

.wrapper.background {
  @include flex($direction: column);
  @include width-height($width: 100%, $height: 100%, $maxHeight: min-content);
  @include scrollbars(0.5em, slategray);
  justify-content: center;
  position: fixed;
  background-color: #010b12;

  // main page
  .background_1 {
    @include width-height($width: 100%, $height: 100%);
    background-image: url("../../assets/treeline.svg");
    background-size: cover;
    z-index: 1;
  }

  // about page
  .about_container {
    @include flex(row);
    margin: 5rem 10%;
    column-gap: 5rem;
  }

  // work page
  &.background_3 {
    overflow-y: scroll;

    .moon {
      @include width-height(300px, 300px);
      background-image: url("../../assets/moon-full.svg");
      background-repeat: no-repeat;
      position: fixed;
      top: -125px;
      right: -75px;
      z-index: -1;
      filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.7));
    }

    .work_container {
      @include flex(row);
      margin: -5.5rem 0 -5.5rem 9rem;
      padding-bottom: 5rem;
      align-items: center;
      flex-wrap: wrap;

      .cards_work_1,
      .cards_work_2 {
        @include flex(column);
        width: 40%;
        justify-content: flex-end;
        align-items: baseline;
      }

      .cards_work_2 {
        margin-top: 8.5rem;
        margin-right: 20%;
      }
    }
  }
}
