@import "../../imports";

@mixin fireGlow() {
  box-shadow: 0 0 90px 50px rgba(255, 208, 0, 0.8), 0 0 120px 70px rgba(255, 136, 0, 0.9),
    0 0 160px 100px rgb(185, 99, 0.4);
  opacity: 0.8;
}

@mixin rockGlow($top: 0, $left: 0) {
  box-shadow: inset $top $left 12px rgba(255, 208, 0, 0.6), inset $top $left 12px rgba(255, 136, 0, 0.4),
    inset $top $left 12px rgb(185, 99, 0.2);
  opacity: 0.8;
}

@keyframes scaleUpDown {
  0%,
  100% {
    transform: scaleY(1) scaleX(1);
  }
  50%,
  90% {
    transform: scaleY(1.1);
  }
  75% {
    transform: scaleY(0.95);
  }
  80% {
    transform: scaleX(0.95);
  }
}

@keyframes scaleHeight {
  0%,
  100% {
    height: 20px;
  }
  50%,
  90% {
    height: 22px;
  }
  75% {
    height: 17px;
  }
  80% {
    height: 19px;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: skewX(0) scale(1);
  }
  50% {
    transform: skewX(5deg) scale(0.9);
  }
}

@keyframes particleUp {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100%;
    transform: scale(0.5);
  }
}

@keyframes glow {
  0%,
  100% {
    background-color: $fireEmber;
  }
  50% {
    background-color: $fireBright;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 600;
  }
}

.campfire_container {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 45%;

  .campfire {
    @include transition($time-in: 1.2s, $time-out: 1.2s);
    @include transform(translateY(0%));

    .smoke {
      @include width-height(630px, 400px);
      transform: skewX(5deg) scale(0.9);
      position: absolute;
      bottom: 30%;
      right: -200px;
      -webkit-mask-image: linear-gradient(to top, rgb(255, 255, 255) 30%, rgba(112, 112, 112, 0));
      mask-image: linear-gradient(to top, rgb(255, 255, 255) 30%, rgba(112, 112, 112, 0));
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center bottom;
      mask-position: center bottom;

      svg {
        @include width-height(600px, 400px);
        position: absolute;
        top: 0;

        &:first-child {
          top: 20%;
          right: 18%;

          path {
            animation: dash 3s linear infinite;
          }
        }
        *:nth-child(2) {
          top: 20%;

          path {
            animation: dash 2s linear infinite;
          }
        }
        &:nth-child(3) {
          top: 20%;
          right: 6%;

          path {
            animation: dash 3s linear infinite;
          }
        }
        &:nth-child(4) {
          top: 5%;
          right: 9%;

          path {
            animation: dash 2s linear infinite;
          }
        }

        path {
          fill: none;
          stroke: white;
          opacity: 0.3;
          stroke-width: 5px;
          stroke-dasharray: 500 100;
          stroke-linecap: round;
        }
      }
    }

    .fire {
      @include width-height($width: 140px, $height: 140px);
      position: absolute;
      top: 58%;
      right: 288px;
      background-color: transparent;
      margin-left: auto;
      margin-right: auto;
      z-index: 3;

      * {
        position: absolute;
      }

      .main,
      .main .main_fire,
      .right,
      .left {
        @include width-height($width: 115%, $height: 115%);
      }

      .right .main_fire,
      .left .main_fire {
        @include width-height($width: 100%, $height: 100%);
        top: 20%;
      }

      .main_fire,
      .particle_fire {
        @include mask-image(
          -webkit-gradient(linear, left top, left bottom, from(rgb(255, 120, 0)), to(rgba(212, 51, 34, 0.6)))
        );
        @include filter(drop-shadow(0 0 10px $fireShadow));
      }

      .main {
        animation: scaleUpDown 3s ease-out;
        animation-iteration-count: infinite;
        animation-fill-mode: both;

        .main_fire {
          background-image: radial-gradient(farthest-corner at 10px 0, $fireShadow 0%, $fireEmber 95%);
          transform: scaleX(0.8) rotate(45deg);
          border-radius: 0 40% 60% 40%;
        }

        .particle_fire {
          @include width-height($width: 10px, $height: 10px);
          top: 60%;
          left: 45%;
          background-color: $fireEmber;
          border-radius: 50%;
          animation: particleUp 2s ease-out 0;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
        }
      }

      .right {
        animation: shake 2s ease-out 0;
        animation-iteration-count: infinite;
        animation-fill-mode: both;

        .main_fire {
          right: -45%;
          background-color: $fireEmber;
          transform: scaleX(0.7) rotate(45deg);
          border-radius: 0 40% 60% 40%;
        }

        .particle_fire {
          @include width-height($width: 15px, $height: 15px);
          top: 45%;
          left: 50%;
          background-color: $fireEmber;
          transform: scaleX(0.8) rotate(45deg);
          border-radius: 50%;
          animation: particleUp 2s ease-out 0;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
        }
      }

      .left {
        animation: shake 3s ease-out 0;
        animation-iteration-count: infinite;
        animation-fill-mode: both;

        .main_fire {
          left: -30%;
          background-color: $fireEmber;
          transform: scaleX(0.7) rotate(45deg);
          border-radius: 0 40% 60% 40%;
        }

        .particle_fire {
          @include width-height($width: 10%, $height: 10%);
          top: 10%;
          left: 20%;
          background-color: $fireEmber;
          border-radius: 50%;
          animation: particleUp 3s infinite ease-out 0;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
        }
      }

      .bottom .main_fire {
        @include width-height($width: 75%, $height: 75%);
        top: 30%;
        left: 20%;
        background-color: $fireBright;
        transform: scaleX(0.8) rotate(45deg);
        border-radius: 0 40% 100% 40%;
        filter: blur(10px);
        animation: glow 2s ease-out 0;
      }

      .glow {
        @include width-height($width: 30%, $height: 0%);
        @include fireGlow();
        margin-left: 50%;
        margin-top: 50%;
        z-index: 0;
        transform: scaleX(0.8) rotate(45deg);
        animation: scaleUpDown 3s ease-out;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
      }
    }

    .logs {
      position: absolute;
      @include transform(scale(1.5));
      top: 91%;
      right: 585px;
      z-index: 2;
      margin-top: 14rem;

      .log {
        @include width-height($width: 21px, $height: 120px);
        background: $log;
        position: absolute;
        bottom: 0;
        border-radius: 10px;
        transform-origin: bottom center;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);

        &:after {
          @include width-height($width: 100%, $height: 20px);
          content: "";
          display: block;
          background: #ff915b;
          border-radius: 20px;
          transform-origin: top center;
          transform: scale(1, 0.5);
        }

        &:nth-of-type(1) {
          left: 60px;
          transform: rotateZ(45deg);
        }
        &:nth-of-type(2) {
          left: 110px;
          transform: rotateZ(25deg);
        }
        &:nth-of-type(3) {
          left: 150px;
          transform: rotateZ(-5deg);
        }
        &:nth-of-type(4) {
          left: 210px;
          transform: rotateZ(-55deg);
        }
        &:nth-of-type(5) {
          left: 190px;
          transform: rotateZ(-35deg);
        }
        &:nth-of-type(6) {
          left: 220px;
          transform: rotateZ(-45deg);
        }
        &:nth-of-type(7) {
          left: 250px;
          transform: rotateZ(-45deg);
        }
      }
    }

    .rocks {
      position: absolute;
      top: 60%;
      right: 280px;

      .rock_big_1,
      .rock_big_2,
      .rock_big_3,
      .rock_big_4,
      .rock_big_5 {
        position: absolute;
        z-index: 3;
        top: 180px;
        background-image: radial-gradient(circle at bottom right, $rockLight, $rockDark);
        border-radius: 95px 95px 0 0;
      }

      .rock_big {
        &_5,
        &_4 {
          @include box-shadow($top: 20px, $left: -30px, $blur: 26px, $inset: true);
        }
        &_1,
        &_2 {
          @include box-shadow($top: -20px, $left: -30px, $blur: 26px, $inset: true);
        }
        &_3 {
          @include box-shadow($left: -20px, $blur: 26px, $inset: true);
        }
        &_1:before,
        &_2:before,
        &_3:before,
        &_4:before,
        &_5:before {
          @include box-shadow($blur: 30px, $color: #000);
          content: "";
          position: absolute;
          background-color: #000;
          opacity: 0.6;
          border-radius: 0 0 95px 95px;
          animation: scaleHeight 3s ease-in-out;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
        }
        &_1:before {
          @include width-height($width: 76px, $height: 18px);
          @include transform(skewX(70deg));
          margin-top: 56px;
          left: 42px;
        }
        &_2:before {
          @include width-height($width: 74px, $height: 18px);
          @include transform(skewX(60deg));
          margin-top: 45px;
          left: 21px;
        }
        &_3:before {
          @include width-height($width: 74px, $height: 18px);
          margin-top: 58px;
          left: 12px;
        }
        &_4:before {
          @include width-height($width: 75px, $height: 18px);
          @include transform(skewX(-35deg));
          margin-top: 47px;
          left: -9px;
        }
        &_5:before {
          @include width-height($width: 95px, $height: 18px);
          @include transform(skewX(-65deg));
          margin-top: 54px;
          left: -19px;
        }
        &_1,
        &_1_glow {
          @include width-height($width: 95px, $height: 56px);
          top: 180px;
          right: -140px;
        }
        &_2,
        &_2_glow {
          @include width-height($width: 80px, $height: 45px);
          top: 190px;
          right: -65px;
        }
        &_3,
        &_3_glow {
          @include width-height($width: 85px, $height: 58px);
          top: 176px;
          right: 10px;
        }
        &_4,
        &_4_glow {
          @include width-height($width: 70px, $height: 48px);
          top: 185px;
          right: 80px;
        }
        &_5,
        &_5_glow {
          @include width-height($width: 90px, $height: 54px);
          top: 179px;
          right: 145px;
        }
      }
    }

    .ground {
      @include width-height(100%, 15%);
      position: absolute;
      z-index: 1;
      bottom: 20%;
    }

    @include for-size(desktop-up) {
      @include transform(scale(1.1));
      right: -4rem;
    }
  }
}

@include for-size(tablet-portrait-up) {
  .campfire_container {
    bottom: 25%;
    right: -6rem;
  }
}

@include for-size(phone-only) {
  .campfire_container {
    transform: scale(0.6);
    bottom: 12rem;
    right: 7rem;

    .campfire {
      .smoke {
        bottom: -5rem;
        right: -31rem;
      }

      .fire {
        top: 0;
        right: -1rem;
      }

      .logs {
        right: 17rem;
        top: 0;
      }

      .rocks {
        top: 1rem;
        right: -1rem;
        z-index: 10;
      }
    }
  }

  #about ~ .campfire_container .campfire {
    @include transition($time-in: 0.3s, $time-out: 0.3s);
    transform: scale(0.8) translateX(500px);
  }

  #contact ~ .campfire_container .campfire {
    @include transition($time-in: 0.8 s, $time-out: 0.8 s);
    transform: scale(0.8) translateX(500px);
  }
}
