@import "../imports";

// contact page
.background#contact main.content {
    margin: 5rem 10%;
    width: 60%;
    column-gap: 4rem;
    min-height: 40rem;
    z-index: 50;

    form {
        border-radius: 4px;
        padding: 35px 35px 30px 35px;
        width: 80%;

        input:not([type="submit"]),
        textarea {
            @include font($size: 13px, $weight: 500);
            margin-bottom: 0.75rem;
            padding: 0.5rem 1rem;
        }

        textarea {
            resize: none;
        }

        span {
            @include font($tracking: 0.8px, $size: 12px, $weight: 500);
            margin-top: -0.5rem;
            margin-bottom: 0.75rem;

            &.message-chars-left {
                color: $moonSilver;
            }
        }
    }

    > div:nth-child(2) {
        @include flex(column);
        min-width: 350px;
        align-self: center;
        margin-top: 5.5rem;

        .buttons {
            row-gap: 1rem;
        }
    }
}

@include for-size(phone-only) {
    .wrapper.background #contact .content {
        flex-wrap: wrap;

        > div:nth-child(2) {
            margin-top: 0;
        }
    }
}
