// fonts
@mixin font($size: null, $color: null, $weight: null, $leading: null, $tracking: null, $family: null, $align: null) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
    line-height: $leading;
    letter-spacing: $tracking;
    font-family: $family;
    text-align: $align;
}

// div sizing
@mixin width-height($width: null, $height: null, $minWidth: null, $maxWidth: null, $minHeight: null, $maxHeight: null) {
    width: $width;
    height: $height;
    min-width: $minWidth;
    max-width: $maxWidth;
    min-height: $minHeight;
    max-height: $maxHeight;
}

// flexbox classes
@mixin flex($direction: null, $wrap: null) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin media($size, $up: false, $down: false) {
    @if $up {
        @media screen and (min-width: $size) {
            @content;
    }
    }
    @else {
        @media screen and (max-width: $size) {
            @content;
    }
    }

}