@use "../../mixins";
@use "../../variables";

.subtitle {
  &.main,
  &.about,
  &.contact {
    @include mixins.font($size: 18px, $color: variables.$peru, $weight: 100);
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);

    p::selection {
      background: variables.$peru;
      color: variables.$offBlack;
    }
  }
  &.work {
    @include mixins.font($size: 18px, $color: variables.$moonSilver, $weight: 100);
    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    margin-left: 1rem;

    p::selection {
      background: variables.$moonSilver;
      color: variables.$offBlack;
    }
  }

  &.contact_subtitle__links {
    @include mixins.font($size: 18px, $color: variables.$peru, $weight: 100);
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);

    p::selection {
      background: variables.$peru;
      color: variables.$offBlack;
    }

    &:nth-child(3) {
      margin-top: 1rem;
    }
  }
}
