@import "../../../imports";

.darkmode_switch_container {
    @include width-height($width: 55px, $height: 30px, $minWidth: 75px, $minHeight: 25px);
    align-items: center;
    justify-content: center;
    display: block;
    border-radius: 200px;
    margin-left: 1.25rem;
    cursor: pointer;
    z-index: 100;
    @include transition();

    &#dark {
        background-color: #434a4c;
    }

    label {
        @include width-height($width: 100%, $height: 100%);
        opacity: 0;
        z-index: 0;
        cursor: pointer;
    }

    input {
        opacity: 0;
    }

    .wrapper {
        position: absolute;
        justify-content: space-around;
        width: 20%;

        img[class*="icon"] {
            @include transition();
            @include width-height($width: 20px, $height: 20px, $minWidth: 20px, $minHeight: 20px);

            &.dark {
                &.sun_icon {
                    @include transform(translate(0px) rotate(0deg));
                    filter: invert(40%);
                }

                &.moon_icon {
                    @include transform(translate(0) rotate(0deg));
                    filter: invert(80%);
                }
            }

            &.light {
                &.sun_icon {
                    @include transform(translate(26px) rotate(0deg));
                    filter: invert(80%);
                }

                &.moon_icon {
                    @include transform(translate(-26px) rotate(0deg));
                    filter: invert(40%);
                }
            }
        }
    }
}
