@import "../../imports";

.card {
    @include box-shadow(0px, 8px, 16px, rgba(0, 0, 0, 0.6));
    @include width-height(400px, 110px);
    backdrop-filter: blur(3px) brightness(130%); 
    padding: 2rem 1.75rem;
    margin: 1rem;
    
    h3 {
        @include font($size: 30px, $color: $moonSilver, $weight: 800, $align: left);
        filter: brightness(105%);
        margin: 0;
    }

    p {
        @include font($size: 16px, $color: $moonSilver, $weight: 400, $align: left);
    }

    .card_buttons {
        margin-left: -1rem;
    }
}