@import "./styles/imports";
@import "./styles/components/wrapper.scss";
@import "./styles/components/header.scss";
@import "./styles/components/subtitle.scss";
@import "./styles/components/linkButton.scss";
@import "./styles/components/navigation.scss";

@import "./styles/components/Cards/contentCard.scss";
@import "./styles/components/Cards/aboutCard.scss";

@import "./styles/components/animations/campfire.scss";
@import "./styles/components/animations/stars.scss";

// globals
body {
  overflow: auto;
}

h1 {
  @include font($size: 75px);
}

h2 {
  @include font($size: 60px);
}

h1,
h2,
h3,
h4 {
  @include font($tracking: 0.8px, $family: $heading);
}

h5,
h6,
p,
ul,
li,
span,
input,
input::placeholder,
textarea {
  @include font($family: $body);
}

.flex_row {
  @include flex(row);
}

.flex_column {
  @include flex(column);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
